@use 'colors2' as colors;
@use 'mixin_utils';

.friend-card {
  padding: 15px;
  box-shadow: 0.6px 1.1px 1.1px hsl(0deg 0% 0% / 0.48);
  margin: 4px auto;
  border: 1.5px solid colors.$cardBorder;
  // border: none;
  background-color: colors.$cardBackground;
  max-width: 400px;
}