@use 'colors';
// @use 'colors2' as colors;
@use 'mixin_utils';

.bottom-nav-button {
  @include mixin_utils.flex-col-center-content;
  height: 50px;
  width: 50px;
  font-size: 28px;
}

.bottom-nav {
  justify-content: space-evenly;
  background-color: white;
  height: 12vh;
  border-top: colors.$yeller solid 1px;
}

.top-nav {
  justify-content: space-evenly;
  background-image: linear-gradient(45deg, colors.$darkGreeny, 80%,colors.$greeny);
  height: 8vh;
  color: white;
  font-size: 1em;
  font-weight: 200;
  .nav-link{
    color: colors.$lightText
  }
  .nav-bar-brand-image {
    height: 6vh;
    width: auto;
  }
  .nav-bar-brand-text {
    color: colors.$lightText;
    font-size: 3vh;
  }
}
