.userPage-buttons-container {
  height: 15vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 30px;
}

.userPage-buttons-container .btn {
  margin: auto;
}

.userPage-buttons-container .dropup {
  margin: auto;
}