@import "~bootstrap/scss/bootstrap";

// @import "../../node_modules/bootstrap/scss/bootstrap";
// .friend-markers{
//   background-image: url("/images/friend_dot.png");
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
// }

#map-direction-card{
  max-width: 8rem;
  max-height: 9rem;
  margin: left;

  .card-body{
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
  }

}

.map-accordion-body{
  padding-top: 2px;
  padding-bottom: 2px;
}

$greeny: #169874;
$pinky: #e7abff;
$yeller: #ecc800;

.btn {
  border: none;
}

.btn-primary {
  background-color: $yeller !important;
}

.btn-success {
  background-color: $greeny !important;
}

// buttons to put icons inside for
// friend management
.btn-sm {
  border-radius: 15px;
  padding: 3px 6px;
  font-size: x-small;
  font-weight: bold;
}

.bottom-nav-button {
  height: 40px;
  width: 40px;
  color: crimson;
}

.bottom-nav {
  // width: 100vw;
  // display: flex;
  // flex-direction: row;
  justify-content: space-evenly;
  background-color: $pinky;
  padding: 10px 0;
  height: 8vh;
}

.top-nav {
  // width: 100vw;
  // display: flex;
  // flex-direction: row;
  justify-content: space-evenly;
  background-color: $greeny;
  padding: 10px 0;
  height: 8vh;
}

.body {
  padding: 8vh 0px;
}