@import "~bootstrap/scss/bootstrap";

// @import "../../node_modules/bootstrap/scss/bootstrap";
// .friend-markers{
//   background-image: url("/images/friend_dot.png");
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
// }

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
}

#map-direction-card{
  max-width: 8rem;
  max-height: 12rem;
  margin: left;

  .card-body{
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
  }

}

.map-accordion-body{
  padding-top: 2px;
  padding-bottom: 2px;
}

$greeny: #169874;
$pinky: #e7abff;
$yeller: #ecc800;

.btn {
  border: none;
}

// class for buttons that span the whole
// screen
.btn-wide {
  width: 80vw;
  max-width: 400px;
  margin: 10px auto;
}

.btn-primary {
  background-color: $yeller !important;
}

.btn-success {
  background-color: $greeny !important;
}

// buttons to put icons inside for
// friend management
.btn-sm {
  border-radius: 15px;
  padding: 3px 6px;
  font-size: x-small;
  font-weight: bold;
}

.bottom-nav-button {
  height: 50px;
  width: 50px;
  background-color: $yeller;
  color: black;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav {
  // width: 100vw;
  // display: flex;
  // flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  height: 12vh;
  border-top: black solid 2px;

}

.top-nav {
  // width: 100vw;
  // display: flex;
  // flex-direction: row;
  justify-content: space-evenly;
  background-color: $greeny;
  height: 8vh;
}

.body {
  margin-top: 10vh;
  margin-bottom: 14vh;
  display: flex;
  flex-direction: column;
}


// USER PAGE

.event-modal {
  min-height: 95vh;
  background-color: #e7abff;
}

.userPage-tabs {
  // border: 2px solid black;

}

h5 {
text-align: center;
color: $greeny;
margin: 10px;
text-transform: uppercase;
font-weight: bold;
}

