@use 'colors';
// @use 'colors2' as colors;
@use 'mixin_utils';

// SET BOOTSTRAP DEFAULT COLORS BEFORE IMPORTING BS SCSS FILE
$primary: colors.$primaryColor;
$secondary: colors.$secondaryColor;
$success: colors.$successColor;
$danger: colors.$dangerColor;
$warning: colors.$warningColor;
$info: colors.$infoColor;

/** APPARENTLY DON'T NEED TO IMPORT ALL BOOTSTRAP STYLES INDEPENDENTLY
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';

@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';

@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/carousel';
*/

// IMPORT ALL BOOTSTRAP
@import 'bootstrap';

// IMPORT THESE LOCALLY DEFINED STYLES
@import 'base';

@import 'navbars';
@import 'tabs';
@import 'postcard';
@import 'modals';

@import 'login';
@import 'loading';
@import 'map_page';
@import 'user_page';
@import 'event_page';
@import 'parade_page';
@import 'home_page';

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@100;200;400;500;700&family=Inter:wght@600;700&family=Shrikhand&family=Permanent+Marker&display=swap');

/* BREAKPOINT CHANGES FOR DESKTOP vs. MOBILE
Large breakpoint is 992 px wide. It's at this point that posts will switch to grid mode, as it's here that the tab component gets wide enough to justify a change in display
*/
@include media-breakpoint-up(lg) {
  // login
  #login-carousel-container {
    display: flex; // displays carousel for lg screen
    margin-left: 2vw;
  }

  #login-info-container {
    margin-right: 2vw;
  }

  #login {
    padding-left: calc(15px + 10vw);
    padding-right: calc(15px + 10vw);
  }

  // Remove bottom nav and panel for desktop
  .bottom-nav{
    display: none;
  }

  .page-bottom-panel {
    display: none;
  }

  .page-top-panel {
    display: flex;
  }

  .body-with-bottom-panel {
    padding-bottom: 5px;
  }

  .home-page-tabs .tab-content .active {
    max-height: calc(82vh - 42px)
  }
  /*
  GRID DISPLAY FOR CONTENT FEEDS FOR DESKTOP
  */
  // All Cards
  // post-cards stretch sideways to fit photos of most dimensions (no panoramas)
  .post-card {
    max-width: none;
    height: 250px !important;
    flex-grow: 1;
    margin: 0px auto;
  }

  // COMMENT CARDS
  .comment-post-card {
    width: 250px;
    max-width: 350px;
    padding: 15px;
    .post-card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .post-card-text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .post-card-content {
          font-size: 20px;
        }
        .post-card-detail {
          flex-direction: column;
          text-align: end;
        }
      }
    }
  }

  // PHOTO CARDS
  .photo-post-card {
    flex-direction: row;
    align-items: center;

    .post-card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      max-width: 180px;
      margin-left: 15px;
    }

    .post-card-buttons {
      flex-direction: column;
      align-items: end;
      .share-delete-buttons-container {
        width: 94px;
        margin-top: 10px;
        justify-content: space-around;
        .post-card-share-button:only-child {
          margin-left: auto;
        }
        .post-card-delete-button {
          margin-right: 0px;
        }
      }
    }

    .post-card-text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .post-card-content {
        text-align: right;
      }
      .post-card-detail {
        display: flex;
        flex-direction: column;
        text-align: right;
      }
    }

    // IMAGES IN ALL CARDS
    .post-card-image {
      height: 100%;
      // max-width: 300px;
      object-fit: cover;
      margin-bottom: 0px;
    }
  }

  // PORTRAIT PHOTO CARDS HAVE RESTRICTED WIDTHS
  .portrait-photo-post-card {
    max-width: 400px;
    .post-card-image {
      max-width: 200px;
    }
  }

  // TODO: figure out idea max-width for
  // landscape photos
  .landscape-photo-post-card {
    max-width: 500px;
  }

  // TAB NAV PANE FOR HOME PAGE
  .home-page-tabs {
    .tab-content {
      .active {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
      }
    }
  }

  .feed-page-tabs {
    .tab-content {
      .active {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
      }
    }
  }

  #gig-items-container, #parade-info-container {
    max-height:74vh;
    height: 74vh;
  }
}

@include media-breakpoint-up(md) {
  .confirm-action-modal .modal-dialog {
    width: 300px;
  }
}

/** ALL THESE STYLES ARE NOW IN SEPARATE FILES, EXCEPT THEMED STYLING

// .alert {
//   --bs-alert-padding-y: 0.5rem;
// }

// .post-card {
//   padding: 15px;
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   margin: 4px auto;
//   border: 1px solid colors.$primaryColor;
//   background-color: colors.$cardBackground;
//   max-width: 400px;
// }

// .card-detail {
//   font-size: 16px;
//   font-style: italic;
//   font-weight: 100;
//   margin-top: -5px;
//   margin-left: 0px;
// }

// .card-content {
//   font-weight: 500;
//   line-height: normal;
//   margin-left: 0px;
// }

// .card-body {
//   padding: 0px;
// }

// #map-direction-card {
//   max-width: 7rem;
//   max-height: 10rem;
//   margin: 10px;
//   background-color: colors.$primaryBG;
//   padding: 6px;

//   .card-body {
//     p {
//       font-size: 15px;
//       padding: 0px
//     }
//   }
// }

// #map-filter-container {
//   background-color: colors.$primaryBG;
//   padding: 10px;
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   margin-bottom: 10px;
//   margin-top: 10px;
//   border: 1px solid colors.$secondaryColor;
// }

// .btn-wide {
//   width: 80vw;
//   max-width: 400px;
//   margin: 10px auto;
//   border: colors.$secondaryColor solid 2px;
// }

// .btn-success {
//   // keep this
//   background-color: colors.$yeller !important;
//   color: white;
// }

// .btn-primary {
//   // background-color: colors.$yeller !important;
//   // color: white;
// }

// .btn-secondary {
//   // background-color: colors.$ternaryColor !important;
//   color: colors.$lightText;
// }

// buttons to put icons inside for
// friend management
// .btn-sm {
//   border-radius: 15px;
//   padding: 3px 6px;
//   font-size: small;
//   font-weight: bold;
// }

// .bottom-nav-button {
//   @include flex-col-center-content;
//   height: 50px;
//   width: 50px;
//   background-color: $yeller;
//   color: $dark;
//   font-size: 28px;
// }

// .bottom-nav {
//   justify-content: space-evenly;
//   background-color: white;
//   height: 12vh;
//   border-top: colors.$yeller solid 1px;
// }

// .top-nav {
//   justify-content: space-evenly;
//   background-color: colors.$greeny;
//   height: 8vh;
//   color: white;
//   font-size: 1em;
//   font-weight: 200;
// }

//
// .body {
//   padding-top: 8vh;
//   padding-bottom: 12vh;
//   display: flex;
//   flex-direction: column;
//   background-color: colors.$primaryBG;
//   height: 100vh;
// }

// USER PAGE

// #modal-header {
//   background-color: colors.$greeny;
// }

// #login {
//   background-image: linear-gradient(colors.$darkGreeny, colors.$greeny);
//   min-height: 100vh;
//   padding: 15px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

// .login-info-container {
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   padding: 15px;
//   margin: auto;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   background-color: colors.$primaryBG;
//   max-width: 475px;
// }

// .login-carousel-container {
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   padding: 10px;
//   margin: auto;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   display: none;
//   flex-direction: column;
//   position: relative;
//   background-color: colors.$primaryBG;
//   max-width: 450px;
// }


// .login-carousel-item {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 50px;
// }

// .login-carousel-img {
//   width: 70%;
//   height: auto;
// }

// #login-info-icon {
//   display: block;
//   margin: 0 auto;
//   width: 80px;
//   height: auto;
// }

// .login-text {
//   font-size: medium;
// }

// .mail-list-form-items > * {
//   margin: 2px;
// }

// .modal-body {
//   background-color: colors.$primaryBG;
// }

// .modal-title {
//   font-family: 'Permanent Marker', serif;
// }

// #modal-footer {
//   background-color: colors.$greeny;
// }

// .confirm-action-modal {
//   display: flex !important;
//   background-color: rgb(0 0 0 / 25%);
// }

// .confirm-action-modal .modal-dialog {
//   margin: auto;
//   max-height: 100vh;
//   width: 90vw;
// }

// h5 {
//   text-align: left;
//   color: colors.$greeny;
//   margin: 8px;
//   font-weight: 400;
// }

// p {
//   font-size: 20px;
//   color: colors.$dark;
//   margin: 0px 6px 6px;
// }

// this is for the body tag, NOT the body class
// body {
//   color: colors.$dark;
//   font-family: 'Fredoka', sans-serif;
// }

// .gig-body {
//   padding-top: 10vh;
//   padding-bottom: 14vh;
//   display: flex;
//   flex-direction: column;
//   background-color: colors.$lightPinky;
//   min-height: 100vh;
// }

// .gig-body-calendar {
//   padding-bottom: 5vh;
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .date-picker {
//   text-align: center;
// }

// .nav-tabs {
//   border-bottom: 1px solid colors.$tabSelectedBorder;
// }

// .nav-tabs .nav-item.show {
//   background-color: colors.$tabSelected;
//   border-bottom: 1px solid colors.$tabSelectedBorder;
// }

// .tab-content {
//   background-color: colors.$tabSelected;
// }

// // HOME PAGE
// .homePage-tabs .tab-content .tab-pane {
//   padding-top: 5px;
//   overflow: scroll;
//   // tab height is 42px
//   height: calc(64vh - 42px);
//   padding-bottom: 5px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// // USER PAGE
// .userPage-tabs .tab-content .tab-pane {
//   height: 62vh;
//   overflow: scroll;
// }

// .userPage-buttons-container {
//   height: 15vh;
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
//   padding: 0px 30px;
// }

// .userPage-buttons-container .btn {
//   margin: auto;
// }

// .userPage-buttons-container .dropup {
//   margin: auto;
// }

// #share-modal-button {
//   background-color: colors.$yeller;
//   margin: 0px 0px 0px 15px;
//   color: black !important;
// }

// #share-modal-dropdown {
//   background-color: colors.$yeller;
//   margin: 0px 0px 0px 15px;
//   color: black !important;
// }

// .nav-tabs .nav-link {
//   color: rgb(86, 86, 86);
//   font-family: 'Permanent Marker', serif;
//   background-color: colors.$tabUnselected;
//   border-top: 1px solid colors.$tabUnselectedBorder;
//   border-left: 1px solid colors.$tabUnselectedBorder;
//   border-right: 1px solid colors.$tabUnselectedBorder;
//   border-bottom: 1px solid colors.$tabSelectedBorder;
// }

// .nav-tabs .nav-link.active {
//   font-family: 'Permanent Marker', serif;
//   background-color: colors.$tabSelected;
//   color: $dark;
//   border-top: solid 1px colors.$tabSelectedBorder;
//   border-left: solid 1px colors.$tabSelectedBorder;
//   border-right: solid 1px colors.$tabSelectedBorder;
//   border-bottom: solid 1px colors.$tabSelected;
// }

//HOMEPAGE
// .body-with-bottom-panel {
//   // padding-bottom larger on home page to account for page-bottom-panel
//   @extend .body;
//   padding-bottom: 21vh;
// }

// #create-post-form .btn {
//   @include mixin_utils.flex-col-center-content;
// }

// .page-bottom-panel {
//   @include mixin_utils.page-bottom-panel;
//   background-color: colors.$primaryBG;
//   border-top: 1px solid colors.$primaryColor;
// }

// #parade-select {
//   max-width: 60%;
// }

// .form-check-input:checked {
//   background-color: colors.$pinky;
//   // border-color: colors.$ternaryColor;
// }

// .form-check.form-switch {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   justify-content: space-evenly;
// }

// .form-check-input:focus {
//   border-color: #cc86fe;
//   outline: 0;
//   box-shadow: 0 0 0 0.25rem rgba(149, 13, 253, 0.25);
// }

// .footer {
//   text-align: center;
// }

// .loader {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   position: relative;
//   margin-top: 100px;
//   text-align: center;
//   font-size: 3em;
//   flex-direction: column;

//   // width: 100%;
//   // height: auto;
// }

// .disclaimer {
//   font-size: smaller;
// }

//regular mode
// .pg-theme-light {
//   .btn-primary {
//     background-color: colors.$yeller !important;
//     color: $dark;
//   }

//   .top-nav {
//     justify-content: space-evenly;
//     background-color: colors.$greeny;
//     height: 8vh;
//     color: white;
//     font-size: 1em;
//     font-weight: 200;
//   }
// }

// colorblind mode
.pg-theme-vis {
  .btn-primary {
    background-color: colors.$offBlack !important;
    color: colors.$lightText;
    text-transform: uppercase;
  }

  .btn-success {
    background-color: colors.$offBlack !important;
    color: colors.$lightText;
    text-transform: uppercase;
  }

  .btn-danger {
    background-color: colors.$offBlack !important;
    color: colors.$lightText;
    text-transform: uppercase;
  }

  .dropdown-toggle {
    background-color: colors.$offBlack !important;
    color: white;

    text-transform: uppercase;
  }

  h5 {
    color: colors.$offBlack;
    text-transform: uppercase;
  }

  .top-nav {
    background-color: colors.$offBlack !important;
  }

  .card {
    background-color: colors.$cardBackground2 !important;
  }

  * {
    border-color: colors.$offBlack !important;
  }

  .bottom-nav {
    border-top-color: colors.$offBlack !important;
  }

  .nav-tabs .nav-link {
    background-color: colors.$tabSelected;
    color: gray;
  }

  .nav-tabs .nav-link.active {
    background-color: colors.$tabSelected;
    color: colors.$offBlack;
    border-bottom: solid 1px colors.$tabSelected !important;
  }

  #modal-header {
    color: white !important;
    opacity: 1;
    background-color: colors.$offBlack !important;
  }

  #modal-footer {
    color: white !important;
    background-color: colors.$offBlack !important;
  }

  .btn-close {
    background-color: white !important;
  }

  .form-check-label {
    color: black !important;
  }
}
// deep gras mode
.pg-theme-deep {
  .btn-primary {
    background-color: colors.$pinky !important;
    color: colors.$dark;
    animation: funEffects 2s linear infinite, jiggle 0.3s ease-in-out infinite;
    transform-origin: center;
    z-index: 1;
  }

  @keyframes funEffects {
    0%,
    100% {
      transform: translateY(0) rotate(0deg) translateX(0) scale(1);
    }
    25% {
      transform: translateY(-5px) rotate(90deg) translateX(-5px) scale(1.1);
    }
    50% {
      transform: translateY(0) rotate(180deg) translateX(0) scale(1);
    }
    75% {
      transform: translateY(-5px) rotate(270deg) translateX(-5px) scale(1.1);
    }
  }
}

*/
