@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@100;200;400;500;700&family=Inter:wght@600;700&family=Shrikhand&family=Permanent+Marker&display=swap');



$isFree:#53CA3C;
$isToilet: #169873;
$isFood: #FCC54E;
$isPersonal: #BA37DD;
$isPhoneCharger: #53e3d4;
$isPoliceStation: #E7ABFF;
$isEMTStation:#f27d52;


$greeny: #169874;
$lightGreeny: #53CA3C;
$darkGreeny: #015d43;
$pinky: #e7abff;
$dark: #211234;
$yeller: #fcc54e;
$purpley: #8d3dad;
$lightPinky: #fbf4fe;

$primaryColor: #fffcf8;
$secondaryColor: $yeller;
$ternaryColor: $purpley;

$cardBackground: #fdf4ea;

$tabSelected: $primaryColor;
$tabSelectedBorder: $secondaryColor;
$tabUnselected: $cardBackground;
$tabUnselectedBorder: #e3e3e3;

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid $secondaryColor;
  background-color: $cardBackground;
}

#map-direction-card{
  max-width: 7rem;
  max-height: 10rem;
  margin-left: 10px;

  .card-body{
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
  }
}

#map-filter-container {
  background-color: $primaryColor;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid $secondaryColor;
}

// span {
//   font-size: medium;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   margin: 4px;
//   padding-bottom: 1rem;
//   color: $dark;
// }

.btn {
  border: none;
}


.btn-wide {
  width: 80vw;
  max-width: 400px;
  margin: 10px auto;
  border: $secondaryColor solid 2px;
}

.btn-primary {
  background-color: $yeller !important;
  color: $dark;
}

.btn-success { // keep this
  background-color: $greeny !important;
  color: white
}

// buttons to put icons inside for
// friend management
.btn-sm {
  border-radius: 15px;
  padding: 3px 6px;
  font-size: x-small;
  font-weight: bold;
}

.bottom-nav-button {
  height: 50px;
  width: 50px;
  background-color: $yeller;
  color: $dark;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav {
  justify-content: space-evenly;
  background-color: white;
  height: 12vh;
  border-top: $dark solid 2px;
}

.top-nav {
  justify-content: space-evenly;
  background-color: $greeny;
  height: 8vh;
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.body {
  padding-top: 10vh;
  padding-bottom: 14vh;
  display: flex;
  flex-direction: column;

  background-color: $primaryColor;

  min-height: 100vh;
}

// USER PAGE

#modal-header{
  background-color: $greeny;
}

#login{
  background-color: $greeny;
  min-height: 100vh;
  padding: 50px
}

#login-img{
  display:block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.modal-body {
background-color: $primaryColor;}

.modal-title {
  font-family: 'Permanent Marker', serif;
}

.userpage-animated {
  font-family: 'Permanent Marker', serif;
}


h5 {
text-align: left;
color: $greeny;
margin: 8px;
font-weight: 400;
}

p {
  font-size: 20px;
  color: $dark;
}

body{
  color: $dark;
  font-family: 'Fredoka', sans-serif;
}
.gig-body {
  padding-top: 10vh;
  padding-bottom: 14vh;
  display: flex;
  flex-direction: column;

  background-color: $lightPinky;

  min-height: 100vh;
}
.date-picker{
  display: flex;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

// purple border for tab
.nav-tabs {
  border-bottom: 1px solid $tabSelectedBorder
}

.nav-tabs .nav-item.show {
  background-color: $tabSelected;
  border-bottom: 1px solid $tabSelectedBorder;
}

.tab-content {
  background-color: $tabSelected;
}

.nav-tabs .nav-link {
  color: rgb(86, 86, 86);
  font-family: 'Permanent Marker', serif;
  background-color: $tabUnselected;
  border-top: 1px solid $tabUnselectedBorder;
  border-left: 1px solid $tabUnselectedBorder;
  border-right: 1px solid $tabUnselectedBorder;
  border-bottom: 1px solid $tabSelectedBorder;
}

.nav-tabs .nav-link.active {
  font-family: 'Permanent Marker', serif;
  background-color: $tabSelected;
  color: $dark;
  border-top: solid 1px $tabSelectedBorder;
  border-left: solid 1px $tabSelectedBorder;
  border-right: solid 1px $tabSelectedBorder;
  border-bottom: solid 1px $tabSelected;
}


//HOMEPAGE

.body-home {
  padding-top: 10vh;
  padding-bottom: 25vh;
  display: flex;
  flex-direction: column;
  background-color: $primaryColor;
  min-height: 100vh;
}

.comment-btn {
  border-radius: 17px;
  padding: 3px 6px;
}
